@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<QLSinhVien_CodeFirst.Models.SinhVien>

<div class="text-center">
    <h1 class="display-4">Code Fist</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã sinh viên</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Lớp</th>
                <th scope="col">Khoa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.MaSV</th>
                    <td>@item.Hoten</td>
                    <td>@item.Diachi</td>
                    <td>@item.Lop.MaLop</td>
                    <td>@item.Lop.Khoa.TenKhoa</td>
                </tr>
            }

        </tbody>
    </table>
</div>
